# vscode files
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / package
build/
dist/
sdist/
*.eggs-info/
*.egg-info/

# pycharm stuff
.idea/

# jupyter notebook stuff
*.ipynb
.ipynb_checkpoints/

# watchman stuff
*.ico
logs/
read_recorder/
*.exe
*.spec
conf/watchman.toml